<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>signup</title>
</head>
<body>
{% csrf_token %}
<h1>Congratulations you are registered!</h1>
<h2> Now Go Back to Login</h2>
<a href="https://anugrahmasih.herokuapp.com/login/">Login</a>
</body>
</html>



<!--<form action="login" method="POST">-->
<!--    {% csrf_token %}-->
<!--    User Name:<input type="text" name="username"><br>-->
<!--    Password:<input type="password" name="password"><br>-->
<!--    <input type="submit">-->
<!--</form>-->
