<!DOCTYPE html>
<html>
<head>

  <title>Forgot password</title>

</head>
<body>

{% load static %}
<img src="{% static 'app2/reset4.jpg' %}" alt="My image" style="float:right;width:1150px;height:600px;">

<h1 style="color:Blue;">Password Reset complete...</h1>
<p>Your password has been set. You may go ahead and log in now.</p>
<form method="POST">
  {% csrf_token %}
  {{ form }}
  <h2>You can login with new password</h2>
  <button  class="btn btn-primary mt-3"> <a href="http://127.0.0.1:8000/login/">Login </a> </button>

<!--<a href="/app1/login">Login</a>-->

</form>
</body>
</html>